<div class="cookie-consent-modal">
  <div class="modal-header">
    <h2>
      {{ 'cookie_consent.cookie_preferences' | translate }}
    </h2>
    <button type="button" class="close close-modal" (click)="hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ng-container *ngFor="let option of options.options">
      <p>
        <label>
          <input
            type="checkbox"
            [checked]="option.required || cookieData?.enabledCookies.includes(option.id)"
            [disabled]="option.required"
            (change)="selectedIds[option.id] = !selectedIds[option.id]"
          />
          <b>
            {{ option.messageKeyTitle | translate }}
          </b>
        </label>
        <br />
        {{ option.messageKeyContent | translate }}
      </p>
    </ng-container>

    <p>
      <button type="button" class="btn btn-secondary float-right" (click)="hide()">
        {{ 'cookie_consent.dialog.cancel' | translate }}
      </button>
      <button type="button" class="btn btn-primary float-right" (click)="submit()">
        {{ 'cookie_consent.dialog.save' | translate }}
      </button>

      <br clear="left" />
    </p>
  </div>
</div>
